# Database Configuration
spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/exam_portal?useSSL=false&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=TRUE
spring.datasource.username=your_database_username
spring.datasource.password=your_database_password

spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL8Dialect
spring.jpa.properties.hibernate.format_sql = TRUE
spring.jpa.hibernate.ddl-auto = update
spring.jpa.open-in-view=false


#email smtp setup
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=examportal@gmail.com
spring.mail.password=examportal123
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

springdoc.packagesToScan=com.examportal.controller
springdoc.pathsToMatch=/api/**

#this will be only used in Email part in below Best Regards
com.examportal.universityName= Online Exams
